* {
    padding:0 !important;
    margin: 0 !important;
} .element-body {
    min-height: 90vh;
    background-color:black;
}
.navbar {
    display: block;
    background-color: black;
    color:white;
    width: 100%;
    min-height: 10vh;
    z-index: 100;
} .navbar .nav-cont-1 ul {
    display: flex;
    flex-direction: row;
    padding: 0 1.5em !important;
    width: 100%;
    min-height: 10vh;
}.nav-cont-1 {
    width: 60%;
}.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    width: 15rem;
}.nav:hover {
    cursor: pointer;
    border-bottom: 1px solid rgb(8, 245, 0);
    color: rgb(8, 245, 0);
    
    animation: navColorChange .5s ease-in-out;
} @keyframes navColorChange {
    from {
        color: rgb(255,255,255);
        border-bottom: 1px solid rgb(0,0,0);
        ;
    }
}.front-cont img {
    max-height: 80vh;
    width: auto;
    z-index: 100;
}

.front-cont {
    min-height: 90vh;
    width: fit-content;
    position: relative;
    top:0;
    left: 40.5%;
    user-select: none;
}.fcc {
    justify-content: flex-start;
}.fccB {
    animation: ctoback 2s linear;
} @keyframes ctostart {
    from {
        width: fit-content;
        position: relative;
        top:0;
        left: 40.5%;
    } to {
        width:fit-content;
        position: relative;
        top:0;
        left: 0;
    }
} @keyframes ctoback {
   from {
        width:fit-content;
        position: relative;
        top:0;
        left: 0;
    } to {
        width: fit-content;
        position: relative;
        top:0;
        left: 41%;
    } 
}

.talent {
    display: flex;
    font-size: 15pt;
    align-items: center;
    justify-content: center;
    height: 12em;
    width: 12em;
    color:white;
    background-color: green;
    border-radius: 100%;
    cursor: grab;
    transform: scale(1);
    transition: transform .2s ease-in-out;
} .t-1 {
    position: absolute;
    top: 15%;
    right: 67.5%;
    background: url('../public/img/react.png');
    box-shadow: 5px 7px 20px 15px  rgba(0, 0, 0, 0.4) inset;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    z-index:10;
} .ta-1 {
    top: 65%;
    right: 110%;
    animation: fly 2s linear;
} .tb-1 {
    animation: flyB 2s linear;
} .t-2 {
    position: absolute;
    top: 40%;
    right: 77.5%;
    box-shadow: 12px 5px 20px 15px  rgba(0, 0, 0, 0.4) inset;
    background: url('../public/img/laravel.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
} .ta-2 {
    top: 65%;
    right: 110%;
    animation: fly2 2s linear;
} .tb-2 {
    top: 40%;
    right: 77.5%;
    animation: flyB2 2s linear;
}  .t-3 {
    position: absolute;
    top: 65%;
    right: 67.5%;
    box-shadow: 5px 12px 20px 15px  rgba(0, 0, 0, 0.4) inset;
    background: url('../public/img/git.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
} .ta-3 {
    top: 65%;
    right: 110%;
    animation: fly3 2s linear;
} .tb-3 {
    top: 65%;
    right: 67.5%;
    animation: flyB3 2s linear;
} .t-4 {
    position: absolute;
    top: 15%;
    right: 20%;
    box-shadow: 5px 5px 20px 15px  rgba(0, 0, 0, 0.4) inset;
    background: url('../public/img/ps.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}.ta-4 {
    top: 65%;
    right: 110%;
    animation: fly4 2s linear;
}.tb-4 {
    top: 15%;
    right: 20%;
    animation: flyB4 2s linear;
} .t-5 {
    position: absolute;
    top: 40%;
    right: 10%;
    box-shadow: 5px 5px 20px 15px   rgba(0, 0, 0, 0.4) inset;
    background: url('../public/img/illu.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}.ta-5 {
    top: 65%;
    right: 110%;
    animation: fly5 2s linear;
} .tb-5 {
    top: 40%;
    right: 10%;
    animation: flyB5 2s linear;
}  .t-6 {
    position: absolute;
    top: 65%;
    right: 20%;
    box-shadow: 5px 5px 20px 15px  rgba(0, 0, 0, 0.4) inset;
    border: 2px #231F20 solid;
    background: url('../public/img/html.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}.ta-6 {
    top: 65%;
    right: 110%;
    animation: fly6 1.5s linear;
} .tb-6 {
    top: 65%;
    right: 20%;
    animation: flyB6 1.5s linear;
} .talent:hover {
    transform: scale(1.1);
}/*  @keyframes fly {
    0% {
        top:15%;
        right:67.5%;
        transform: rotate(0);
    } 20% {
        top: 15%;
        right: 20%;
        transform: rotate(72deg);
    } 40% {
        top: 40%;
        right: 10%;
        transform: rotate(144deg);

    } 60% {
        top: 65%;
        right: 20%;
        transform: rotate(216deg);
    } 80% {
        top: 65%;
        right: 67.5%;
        transform: rotate(288deg);
    } 100% {
        top: 65%;
        right: 110%;
        transform: rotate(360deg);
    }
} @keyframes flyB {
     0% {
        top: 65%;
        right: 110%;
        transform: rotate(360deg);
    } 20% {
        top: 65%;
        right: 67.5%;
        transform: rotate(288deg);
    }40% {
        top: 65%;
        right: 20%;
        transform: rotate(216deg);
    }60% {
        top: 40%;
        right: 10%;
        transform: rotate(144deg);

    } 80% {
        top: 15%;
        right: 20%;
        transform: rotate(72deg);
    }100% {
        top:15%;
        right:67.5%;
        transform: rotate(0);
    } 
} @keyframes fly2 {
    0% {
        top: 40%;
        right: 77.5%;
    } 16.66% {
        top:15%;
        right:67.5%;
    } 33.32% {
        top: 15%;
        right: 20%;
    } 49.98% {
        top: 40%;
        right: 10%;
    } 66.64% {
        top: 65%;
        right: 20%;
    } 83.3% {
        top: 65%;
        right: 67.5%;
    } 100% {
        top: 65%;
        right: 110%;
    }
} @keyframes flyB2 {
    100% {
        top: 40%;
        right: 77.5%;
    } 83.3%{
        top:15%;
        right:67.5%;
    } 66.64%{
        top: 15%;
        right: 20%;
    } 49.98% {
        top: 40%;
        right: 10%;
    }33.32%{
        top: 65%;
        right: 20%;
    } 16.66% {
        top: 65%;
        right: 67.5%;
    } 0% {
        top: 65%;
        right: 110%;
    }
}@keyframes fly3 {
    0% {
        top: 65%;
        right: 67.5%;
    } 14.28% {
        top: 40%;
        right: 77.5%;
    } 28.56% {
        top:15%;
        right:67.5%;
    } 42.84% {
        top: 15%;
        right: 20%;
    } 57.12% {
        top: 40%;
        right: 10%;
    } 71.4% {
        top: 65%;
        right: 20%;
    } 85.68% {
        top: 65%;
        right: 67.5%;
    } 100% {
        top: 65%;
        right: 110%;
    }
}@keyframes flyB3 {
    100% {
        top: 65%;
        right: 67.5%;
    } 85.68%{
        top: 40%;
        right: 77.5%;
    } 71.4% {
        top:15%;
        right:67.5%;
    }57.12%{
        top: 15%;
        right: 20%;
    } 42.84% {
        top: 40%;
        right: 10%;
    }  28.56% {
        top: 65%;
        right: 20%;
    }  14.28% {
        top: 65%;
        right: 67.5%;
    } 0% {
        top: 65%;
        right: 110%;
    }
} @keyframes fly4 {
    0% {
        top: 15%;
        right: 20%;
    } 33.33% {
        top: 40%;
        right: 10%;
    } 66.66% {
        top: 65%;
        right: 20%;
    } 100% {
        top: 65%;
        right: 110%;
    }
} @keyframes flyB4 {
    100% {
        top: 15%;
        right: 20%;
    } 66.66%{
        top: 40%;
        right: 10%;
    }  33.33% {
        top: 65%;
        right: 20%;
    } 0% {
        top: 65%;
        right: 110%;
    }
} @keyframes fly5 {
    0% {
        top: 40%;
        right: 10%;
    } 50% {
        top: 65%;
        right: 20%;
    } 100% {
        top: 65%;
        right: 110%;
    }
} @keyframes flyB5 {
    100% {
        top: 40%;
        right: 10%;
    } 50% {
        top: 65%;
        right: 20%;
    } 0% {
        top: 65%;
        right: 110%;
    }
} @keyframes fly6 {
    from {
        top: 65%;
        right: 20%;
    } to {
        top: 65%;
        right: 110%;
    }
} @keyframes flyB6 {
    from {
        top: 65%;
        right: 110%;
    }to {
        top: 65%;
        right: 20%;
    } 
} */
    
.f-about {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}.f-about > div {
    display: none;
    position: absolute;
    top: 15%;
    left: 30%;
    width: 50%;
    padding: 1.5em !important;
    background-color: green;
    min-height: 45vh;
    border-radius: 15px;
    z-index: 101;
}.fin{
    animation: fadeIn 1s ease-in;
}.fout {
    opacity: 0;
    top: -2%;
    animation: fadeOut .5s linear;
    display: none;
} @keyframes fadeIn {
    from {
        top: -2%;
        opacity: 0;
    }
}  @keyframes fadeOut {
    from {
        top: 15%;
        opacity: 1;
    } to {
        top:-2%;
        opacity: 0;
    }
} .active {
    cursor: pointer;
    border-bottom: 1px solid rgb(8, 245, 0);
    color: rgb(8, 245, 0);
} 
/* .d1 {
    display: block;
    margin-bottom: 5px !important;
    width: fit-content  ;
    color:white;
    background-color: blue;
    padding: 25px !important;
} */

.welcome-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: white;
    z-index: 900;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
} .welcome-screen > div {
    color:green;
    font-size: 70pt;
} .txt-block {
    display: block;
    background-color: black;
    width: 13.5em;
    height: 1em;
    position: absolute;
    top: 54.5%;
}.txt-appear {
    display: inline-block;
} .welcome-wipe {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: green;
    bottom:-100%;
    right:0;
    z-index: 950;
} .leftSpace {
    display: inline-block;
    padding-left: 3em !important;
} form input[type='text'] {
    margin-bottom: .5em !important;
    width: 50%;
    outline: none;
    padding: 10px !important;
    border-radius: 15px;
    border: none;
} textarea {
    width: 50%;
    height: 10em;
    outline:none;
    border-radius: 15px;
    padding: 10px !important;
} .contact-cont {
    display: none;
} p {
    padding-top: 15px !important;
} form > div {
    padding-right: 25% !important;
} input[type='submit'] {
    padding: 10px !important;
    outline: none;
    border-radius: 10px;
    border: none;
} .contact-cont , .abt-cont {
    animation: contFade .3s ease-in;
} @keyframes contFade {
    from {
        opacity: 0;
    }
}

p.abt-cont {
    font-size: 22pt;
    
} .api-link {
    width: 15rem;
    height: 10vh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid rgb(0, 0, 0);
} .api-link:hover {
    cursor: pointer;
    border-bottom: 1px solid rgb(8, 245, 0);
    transition: border-bottom .5s ease-in-out;
} .api-link a {
    text-decoration: none;
    color: white;
} .api-link:hover a {
    color: rgb(8, 245, 0);
    transition: color .5s ease-in-out;
}