@media screen and (max-width: 731px) {
    /* .dis {
        display: none;
    } */
    .element-body {
        overflow: hidden;
        padding-bottom:0 !important;
    }
    .front-cont {
        display: flex;
        align-items: center;
        width: auto;
        justify-content: center;
        position: unset;
    }
     .navbar .nav-cont-1 {
        width: 100%;
    } .t-1,.t-2,.t-3,.t-4,.t-5,.t-6{
        position:unset;
        top:unset;
        left: unset;
        right: unset;
    } .talent {
        position: absolute;
        bottom: 5%;
        height: 2.5em;
        width: 2.5em;
    } .t-1 {
        left: 3%;
    } .t-2 {
        left: 19%;
    } .t-3 {
        left: 35%;
    } .t-4 {
        right: 35%;
    } .t-5 {
        right: 19%;
    } .t-6 {
        right: 3%;
    } .f-about div {
        height: 75vh;
        width: 97%;
        top: 12%;
        left: 1%;
        z-index: 150;
        overflow-y: scroll;
    } .fcc {
        animation: none;
    } .fccB {
        animation: none;
    } .fin {
        animation-duration: .3s;
    } .fout {
        animation-duration: .3s;
    } @keyframes fadeIn {
        from {
            top: -2%;
            opacity: 1;
        }
    } .welcome-screen > div {
        font-size: 20pt;
    }.txt-block {
        position: absolute;
        top: 51.8%;
    } .api-link > a{
        display: none;
    } .api-link:after {
        content: '>';
        width: fit-content;
    } .api-link {
        width: fit-content;
    }#back a span {
        display: none;
    }#back a:after {
        content: '<';
    }p.abt-cont {
        font-size: 15pt;
    }h2.abt-cont {
        font-size: 25pt;
    } #gameNews {
        width: 100vw;
    } .news {
        width: 90vw !important;
    }
    .navbar .nav-cont-1 ul { 
        display: flex;
    }
}
