@media screen and (max-width: 450px) {
    /* .dis {
        display: none;
    } */
    .front-cont {
        display: flex;
        align-items: center;
        width: auto;
        justify-content: center;
        position: unset;
    }
     .navbar .nav-cont-1 {
        width: 100%;
    } .talent {
        display: none;
    } .f-about div {
        height: 75vh;
        width: 97%;
        top: 12%;
        left: 1%;
        z-index: 150;
        overflow-y: scroll;
    } .fcc {
        animation: none;
    } .fccB {
        animation: none;
    } .fin {
        animation-duration: .3s;
    } .fout {
        animation-duration: .3s;
    } @keyframes fadeIn {
        from {
            top: -2%;
            opacity: 1;
        }
    } .welcome-screen > div {
        font-size: 20pt;
    }.txt-block {
        position: absolute;
        top: 51.8%;
    }
}